// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.todo{
  margin: 20px 0;
}

.todo_title{
  font-weight: bold;
  &:hover{
    cursor: pointer;
  }
}

form{
  margin: 20px;
}
input{
  display: block;
}
